<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body>
    <h1>display events</h1>

    <a href="/createEvent">Create</a>
    < eventname/details > 
    <a href="/createEvent">Edit</a>
    <a href="/createEvent">Delete</a>
    <!-- <a href="/get-books?isbn=<%= book.isbn %>">edit</a><br>
    <a href="/delete-book?isbn=<%= book.isbn %>">delete</a> -->


</body>
</html>