<%- include("common/header") %>

    <h1>Log in</h1>

    <form action="/login" method="post">
        <label for="email">Email: </label><br>
        <input type="email" name="email" placeholder="Enter email" value="<%= email %>"><br><br>

        <label for="password">Password:</label><br>
        <input type="password" name="password" placeholder="Enter password"><br><br>
        <button type="submit">Log In</button><br><br>
        
    </form>
    <span>No account yet? </span><a href="/register">Register Now!</a>
    <% if(errors!=""){ %>
        <p style="color:red"><%=errors%></p>
    <% } %>
    
     

    
</body>

</html>