<%- include("common/header") %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Login</title>
</head>

<body>
    <h1 style="text-align: center;">Login</h1>

    <div style=" font-size:20px; width: 100%; padding-left:500px;"><br>
        <form action="/login" method="post">
            
            <label for="email">Email: </label><br>
            <input type="email" name="email" placeholder="Enter email" size="25" value="<%= email %>"><br><br>

            <label for="password">Password:</label><br>
            <input type="password" name="password" placeholder="Enter password" size="25"><br><br>

            <input type="checkbox" id="check"> &nbsp;
            <label for="check">Remember Me</label><br><br>
            <button type="submit" style="font-size: 20px;">Log In</button><br><br>
            
        </form>
        <span>No account yet? </span><a href="/register">Register Now!</a>
    <% if(errors.length!=0){ %>
        <ul style="color: red">
        <% errors.forEach(error => { %>
            <li><%= error %></li>
            <% }) %>
        </ul>
    <% } %>
    </div>
     

    
</body>

</html>