<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Campus Event Board</title>
</head>
<style>
    html {
        scroll-behavior: smooth;
    }
</style>
<body>
    <h2>Campus Event Board 🏫</h2>
    <% if(user){ %>
    <p>Welcome, <%= user.name %> 👋</p>
    <% } %>
    <nav>
        <a href="/user/home"><i class="fa-sharp fa-solid fa-house"> Home</i></a> | 
        <a href="/events"><i class="fa-solid fa-magnifying-glass"> Events</i></a> | 
        <% if(!user || user.role=="Student"){ %>
            <a href="/my-rsvps"><i class="fa-regular fa-calendar-plus"> My RSVPs</i></a> | 
            <a href="/bookmarks"><i class="fa-regular fa-bookmark"> Bookmarked</i></a> | 
            <a href="/my-reports"><i class="fa-solid fa-flag"> My Reports</i></a> | 
        <%}%>
        <a href="/user/profile"><i class="fa-solid fa-user"> Profile</i></a> | 
        <% if(user && user.role=="Admin"){ %>
            <a href="/reports"><i class="fa-solid fa-flag"> Reports</i></a> |
        <% } %>
        <% if(!user){ %>
            <a href="/user/login"><i class="fa-solid fa-arrow-right-to-bracket"> Log in</i></a>
        <% }else{ %>
            <a href="/user/logout"><i class="fa-solid fa-arrow-right-from-bracket"> Log Out</i></a>
        <% } %>
    </nav>

    <hr>